{% extends "layout.html" %}
{% block title %}
BCV
{% endblock %}
{% block main %}
<div class="container-fluid center w-auto">
  {% for i in news %}
  <div class="container mt-3">
    <div class="mt-4 p-5 bg-dark text-light rounded-end">
      <h4 class="display-6 text-center">{{ i['title'] }}</h4>
      <h5>{{ i['date'] }}</h5>
      <br>
      <p><i>{{ i['post'] }}</i></p>
      <br>        
      <div class="col">
        <img src="static/users/{{ i['photo'] }}" class="avatar">
      </div>
      <p class="text-end">- {{ i ['name'] }}</a></p>
    </div>
  </div>
  <br>
  {% endfor %}
</div>
{% endblock %}