{% extends "layout.html" %}
{% block title %}
BCV
{% endblock %}
{% block main %}
<div class="container col-md-7 col-lg-8 center-page">
  <form action="/message" class="row g-3 middle" method="post" enctype="multipart/form-data">
    <h1 class="h3 mb-3 fw-normal">Leave a message below</h1>
    <div>
      <input required autocomplete="off" autofocus class="form-control rounded-3" id="email" name="email" placeholder="email" type="email">
    </div>
    <div>
      <input required autocomplete="off" autofocus class="form-control rounded-3" id="name" name="name" placeholder="name" type="name">
    </div>
    <div>
      <textarea required rows="8" class="form-control rounded-3" id="message" name="message" type="text" placeholder="Do you have comments or questions? Write your message here and send it. We would love to hear from you!"></textarea>
    </div>
    <div>
      <button class="w-auto btn btn-primary float-end" type="submit">Send</button>
    </div>
  </form>
</div>
{% endblock %}