{% extends "layout.html" %}
{% block title %}
BCV
{% endblock %}
{% block main %}

<div class="container-fluid d-flex justify-content-center">
{% for deet in usrdeets %}
<div class="card" style="width: 18rem; align-self: center;">
  <form method="post" action="/profile" enctype="multipart/form-data">
  <img src="static/users/{{ deet['photo'] }}" alt="{{ deet['name'] }}" class="card-img-top">
  <div class="card-body">
    <textarea class="display-6 card-title w-100 text-center" rows="1" placeholder="{{ deet['name'] }}" id="name" name="name" type="text" style="border-style: hidden;">{{ deet['name'] }}</textarea>
    <textarea id="bio" name="bio" rows="4" type="text" class="card-text" style="border-style: hidden;">{{ deet['bio'] }}</textarea>
  </div>
  <ul class="list-group list-group-flush">
    <button class="text-end" id="editbut" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="currentColor">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/>
      </svg>
    </button>
  </ul>
  </form>
</div>
{% endfor %}
</div>
{% endblock %}