{% extends "layout.html" %}

{% block title %}
    BCV
{% endblock %}

{% block main %}

<!--<div style="margin-top: 30px; margin-bottom: 80px;">
  <div class="container w-50">
     <form class="d-flex" method="POST" enctype="multipart/form-data" action="/">
        <input id="qry" name="qry" autofocus autocomplete class="form-control-lg mx-auto w-100" type="text" placeholder="dig our crates..." aria-label="Search" /></input>

        <button hidden class="btn btn-outline-dark" type="submit">search</button>
     </form>
  </div>
</div>
-->

    {% for i in qryres %}
    <div class="row">
                <div id='digs' class="card" style="width:400px">
                <img class="card-img-top" src="static/files/{{ i['crateid'] }}.jpg" alt="random dig">
                <div class="card-body">
                  <h4 class="card-title display-4">Album - {{ i['album']}}</h4>
                  <h6 class="card-title display-6">Artist - {{ i['artist']}}</h6>
                  <p class="card-text">About - {{ i['description'] }}</p>
                  <p class="card-text"><i>Price - ${{ i['price'] }}</i></p>
                  <p class="card-text">Condition - {{ i['condition'] }}</p>
                  <p class="card-text">Format - {{ i['media'] }}</p>
                  <p class="card-text">Catalog # - {{ i['crateid']|upper }}</p>
                </div>
              </div> 
              <hr>
    </div>
    {% endfor %}



{% endblock %}